{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <!--<button type="submit">Log In</button>    default login button code -->  
    <button class="btn btn-success ml-2" type="submit">Log In</button> <!--styling our login button-->
</form>
{% endblock content %}

<!--to make title we are using django code block title and endblock title -->