{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

    <h1>Check your Email.</h1>
    <p>We've emailed you instructions for setting your password.
        You should receive the email shortly!</p>

{% endblock content %}