{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
    <h1>Password Change Successful</h1>
    <p>Your password is changed successfully.</p>

{% endblock content %}