{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1>Password Change</h1>
    <p>Please enter your old password, for security's sake, and then enter your
        new password twice so we can verify you typed it in correctly.
    </p>
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class ="btn btn-success" type="submit" value="change my password">
</form>

{% endblock content %}

<!--we didn't mentioned this file in the url beacause django will automatically will look up
for this file in this folder by default (in case this file is not present, then django will
work on its default web page of password change)-->